<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <meta charset="UTF-8">
    <title>Images</title>
</head>
<body>
<a href="/allMovies">View All Movies</a>
<br>
<br>
<h1 th:text="${User.username}"></h1>
<div th:each="movie : ${Movies} ">
    <p th:text="${movie.name}"></p>
    <form th:action="@{/deleteMovie}" method="post">
        <input type="hidden" th:name="Id" th:value="${movie.id}"/>
        <button type="submit">Delete</button>
    </form>
</div>
</body>
</html>
